body {
  color: rgb(135, 135, 135);
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
.container {
  margin: 50px auto;
}

.card {
  margin: 50px 350px;
  max-width: 60%;
}

.city-search {
  margin: 25px;
}
h6:first-letter {
  text-transform: capitalize;
}
.current-weather-icon {
  font-size: 50px;
}
li {
  list-style: none;
}
.hour-forecast,
.days-forecast {
  font-weight: bold;
}

.active {
  color: rgb(135, 135, 135);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}

#current-celsius,
#current-fahrenheit {
  font-size: smaller;
}

#current-celsius-felt,
#current-fahrenheit-felt {
  font-size: smaller;
}

.weather-forecast {
  color: #000000;
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-minimum {
  opacity: 0.5;
}
