body {
  color: rgb(135, 135, 135);
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
.container {
  margin: 50px auto;
}

.card {
  margin: 50px 350px;
}

.city-search {
  margin: 25px;
}
h6:first-letter {
  text-transform: capitalize;
}
.current-weather-icon {
  font-size: 50px;
}
li {
  list-style: none;
}
.hour-forecast,
.days-forecast {
  font-weight: bold;
}

a {
  color: rgb(135, 135, 135);
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
}
a:hover {
  color: rgb(95, 95, 95);
  text-decoration: underline;
}
